@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Mochiy+Pop+One&family=Tangerine&family=Teko:wght@300&display=swap');

/* h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Tangerine', cursive;
} */

/* .box {
    width: 300px;
    height: 200px;
    border: 1px solid;
    /* padding: 10px; */
    /* padding-top: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 20px; */
    /* padding-left: 30px; */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 20px 30px; */
    /* padding: 10px 20px 30px; */
    /* margin: 10px; */
    /* margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;   */
    /* margin: 10px 20px 30px 40px; */
    /* margin: 20px 40px; */
    /* margin: 10px 20px 40px; */
/* } */

/* .parents {
    display: inline-block;
    border: 1px solid;
    width: 300px;
    height: 200px;
}

.child {
    display: inline-block;
    border: 1px solid;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

ul {
    background-color: lightseagreen;
}

ul li a {
    color: maroon;
    opacity: 0.5;  
} */

/* .wrapper {
    width: 1360px;
    height: 200px;
    border: 20px solid orange;
    margin: 0 auto;
}

header {
    border: 1px solid black;
    width: 100%;
    height: 20%;
}

.parent {
    width: 200px;
    box-sizing: border-box;
    border: 5px solid grey;
}

.child {
    box-sizing: border-box;
    border: 10px solid red;
    padding: 10px;
    width: 100%;
} */

.box {
    margin: 0 auto;
}

.list {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
}

.item_1 {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid lightblue;
    border-radius: 10px;
    width: 350px;
    height: 354px;
    background-color: white;
    box-shadow: 1px 1px 10px lightseagreen;
    margin: 55px;
}

.icon {
    display: inline-block;
    width: 102px;
    height: 100px;
    margin: 50px;
}

.heading {
    display: inline-block;
    font-size: 30px;
    margin: 0 30px;

}

.text {
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    margin: 20px 30px;
    width: 290px;
}